#top {
    height:50px;
    background-color: #ff8533;
    text-align: center;
    font:"Impact";
    font-size: 20px;
    padding:30px
}

h1 {
    bottom:0;
    color: #3366ff
}

#content {
    height:700px;
    background-color: #3366ff
}

p, h2 {
    color: #ff8533
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#drawing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transform: rotate(90deg);
}

.center {
    text-align: center
}